$Dominant1 : #d5b678;
$Dominant2 : #bf9760;
$Dominant3 : #856641;
$Dominant4 : #6b3b29;
$Dominant5 : #2c1b10;
$Complementary1 :#fff8c8;
$Complementary2 :#cad9b1;
$Complementary3 : #8fb3a0;
$Accent1: #c6cfff;
$Accent2: #622773;
$Accent3: #4a1259;
$Accent4: #350c40;
$Accent5: #200726;