@use './style/common' as c;

html {
  font-size: 10px;
}
body {
  margin: 0;
  font-family: c.$Font1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  background: c.$Background3;
  background-repeat: no-repeat;
  min-height: 100vh;
  box-sizing: border-box;
  font-size: 62.5%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  color: #fff;
  background-color: #6200ee;
  padding: 1rem 2rem;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  outline: 0;
  border: 0;
  border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3); /* black with 30% opacity */
  cursor: pointer;
  
  span.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 600ms linear;
    background-color: rgba(255, 255, 255, 0.7);
  }
}



@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #0080605a radial-gradient(circle, transparent 1%, #0080605a 1%) center/15000%;
  cursor: pointer;
}
.ripple:active:hover {
  background-color:  #0080605a;
  background-size: 100%;
  transition: background 0s;
}

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}